* {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #908e8e;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}


.content {
  font-size: 1.5em;
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.log-reg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 28px;
}

.home, .uploadbuttons, .event{
  text-align: center;
  margin: auto;
  padding: 40px;
}

h1 {
  padding: 30px;
}

.home > p {
  padding-bottom: 30px;
}


.uploadbuttons > a > button {
  padding: 10px;
  font-size: 20px;
  margin: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #6c6c6c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #232323;
}

form {
  background-color: #ccc;
  padding: 10px;
}

.event > h1 {
  text-align: center;
}
.event{
  text-align:left;
}

input[type=checkbox] {
  margin: 10px;
}

input[type=file] {
  margin: 10px;
}

.profilecard {
  background-color: #908e8e;
  width:  50%;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;

  border-radius: 5px;
}

ul li {
  margin: 10px;
}

h1, h2 {
  text-align: center;
  margin: 30px;
}